	.parent {position: relative;}
  	
  	.intro {
  	font: 15pt serif;   
 	 width:  600px;
	 padding: 15px;
	 left: 28%;
	 position: absolute;
 	 top: 10%;
 	 border: 2px solid rgb(100,100,100);
 	  background-color: rgb(238,238,238);}
 	  
 	 .answer_block {
 	 position: relative;
 	 right: -4.5%; }
 	  
 	 .part{
 	 font: 12pt serif;   
 	 width:  50px;
	 padding: 5px;
	 margin-left: 70px;
	 margin-right: 70px;
	 margin-top: 220px;
 	 border: 2px solid rgb(100,100,100);
 	 background-color: rgb(240,200,200);}
 	 
 	 .select_block {
 	 background-color: rgb(250,250,250);}
 	 
 	 .note_block {
 	 
 	 font: 11pt serif;   
 	 width:  460px;
	 padding: 10px 10px 0 10px;
	 left: 33.4%;
	 position: absolute;
 	 bottom: 6%;
 	 border: 2px solid rgb(100,100,100);
 	 background-color: rgb(238,238,238);}
 	 
	.pagecenter {
     font: 15pt serif;   
 	 width:  700px;
	 padding: 30px;
	 position: absolute;
 	 top: 49%;
 	 left: 35.3%;
 	 margin: -70px 0 70px -170px;
   	 border: 2px solid rgb(100,100,100);
 	 background-color: rgb(240,230,230);}

 	 
 	.the_login{position: absolute; top: 13%; left: 15%;}
 	.the_password{position: absolute; top: 45%; left: 11%;} 
 	  
	.submit {position:absolute; bottom: 5%; left: 45.5%;}
	.submit2 {position:absolute; bottom: 2%; left: 45.5%;}
	.submit3 {bottom: 0%;}
	.finish_submit {position: relative;}
	
	.finish_block {
	 padding: 15px 35px 15px 0;
	 font: 20pt serif;   
 	 width:  300px;
 	 top: 42%;
 	 left: 50%;}
 	 
 	.json_block {top : 40%}
 	
 	.stats_table {width: 450px}
	.right_cell{width: 15%; background-color: rgb(230,240,210);}
	.left_cell{background-color: rgb(230,230,240);}
	
	.res_request {width: 300px; border-collapse: collapse; background-color: rgb(230,240,230)}
	.left_cell2{ border-color: rgb(0,0,0);}
	.right_cell2{width: 35%; border-color: rgb(0,0,0);}
	
	.page {background-color: rgb(220,220,220);}
	
	.header1 {font: 40pt serif; color: rgb(100,100,100);}
	
	.button15 {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;}
  
  	.fini_part{
 	 font: 12pt serif;   
 	 width:  50px;
	 padding: 5px;
	 left: 47.5%;
	 position: absolute;
 	 top: 27.8%;}
 	 
	.button15:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);}

	.button15:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;}

	.big15 { font-size: 20px; width: 200px;}