<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="intro" align="center">
            <form>
                THE FIELD FOR THE FINAL COMMENT<br>
                <div align="justify">Here you can write any thoughts about this questionnaire or concerning your answers.
                    If you'd like to get the results of the investigation (it's going to be a paper written in Russian language),
                    you can write it down here, and I will need your email to send it to you, so, in case you haven't
                    given it at the beginning, please add it here.</div><br>
                <textarea title="finalcomment" name="finalcomment" cols="70" rows="10" style="resize: vertical" id="finalcomment"></textarea><br><br>
            <input type="submit" class="button15" value="finish">
            </form>
        </div>
    </div>
</div>
</body>
</html>