<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="introfin" align="justify">
            Thank you so much for your help! If possible, send the form to anyone else.
            More data gives more precise and interesting results.<br>
            Good luck!<br><br>
            <a href="/"><div align="center"><input type="submit" class="button15" value="return to the beginning"/></div></a>
        </div>
        <div class="contactblock" align="justify" style="margin-top: 250px">
            <div align="center">CONTACTS</div>
            Matvey Sokolovskiy<br>
            E-mail:&nbsp&nbsp<a href="mailto:matvey10@gmail.com?Subject=RESEARCH%20comment" target="_top">matvey10@gmail.com</a><br>
            Project repository:&nbsp<a href="https://github.com/sukalov/lingform">github.com/sukalov/lingform</a><br>
            <div align="center" class="subscript">
                The Higher School of Economics<br>
                School of Linguistics<br>
                Moscow<br>
                Russia<br>
                2018
            </div>
        </div>
    </div>
</div>
</body>
</html>