<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="ins" align="justify">
            <div align="center" style=" color: red">PLEASE READ THE WHOLE INSTRUCTION</div><br>
            You will see the pictures with different kinds of fogs or clouds. For every picture you will get two fields to fill.
            The filling of the first one is required. Here you should put <e style="color: red">only one word from your native language</e>.
            Please try to imagine the situation, when you show this picture to your friend and say something like "Look, what a beautiful..!"
            I need a non-scientific word, common for you. It's OK, to write in the first field <e style="color: red">the same word for many pictures</e>.<br><br> The second field is for comments which you should write in English (or Russian).
            It is not required to fill. However, I would appreciate filling the second one as often as possible. There you can write everything.
            For example, if you want to call the object from the picture with two words,
            you still write only one in the first field and here you write the second and describe, why two are better.
            Or just try to describe the situation where you would use the word from the first field.
            If you think that two different words both can describe the picture, you choose only one for the first field and write about the second one in a comment.
            Generally, every additional information would be great. The more precise you are, the more precise result I'll be able to get. <br><br>
            Every picture is shown only once and you cannot return after to the previous one.
            After the pictures is the final page, where you can leave final comments.
            So, if you want to return to any picture, please, <e style="color: red">do not reload the page</e>.
            You can leave all remarks at the final page.<br><br> <div align="center"><a href="/enform"><input type="submit" class="button15" value="got it all"></a></div>
        </div>
    </div>
</div>
</body>
</html>
