<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="ins" align="justify">
            <div align="center" style=" color: red">PLEASE READ THE INSTRUCTION BELOW TO THE END</div><br>

            You will see 16 photographs with different kinds of fogs or clouds.
            For every photo you will be asked to fill in two fields.
            In Field 1 you will be asked to fill <e style="color: red">only one word in your native language</e> (such a word that you can use in everyday life).
            You can imagine the situation when you show this photo to your friend saying something like, "Look, what a beautiful..!"
            It's possible that <e style="color: red">one word will be a match to more than one photo</e>.<br><br>

            Field 2 is for comments written in English (or in Russian - as you like).
            You don’t have to fill this field in all cases. However, here are three situations in which I will ask you to fill this field:
            <div style="margin-right: 30px">
            <ol>
                <li>If you are not sure which word to choose for the Field 1, i.e. you cannot decide which word matches the photo better. In this case you should choose one of the options anyway, but write all the others in the Field 2, trying to explain the difference between them.</li>
                <li>If what is depicted in the photo is better described with a word combination than with a single word. In this case you should still write only one word (the main one) in the Field 1, but please write the combination in Field 2 and try to describe why the combination is better.</li>
                <li>If the image in the photo cannot be properly named in your language. In this case, please write in the Field 1 the word which signifies something that is the closest to the image in the photo, and in Field 2 try to describe that other phenomenon which is normally signified by that word.</li>
            </ol>
            </div>

            Generally, I would appreciate it if you fill the second field not only in the cases described above,
            but in every situation where something is not quite clear to you, as your comments may help my investigation.<br><br>

            NB! Every photograph will be shown only once and there is no return to the previous page.
            However, after all the photographs there is one more page where you can leave some more comments.
            So, instead of returning to the photo to edit your response, you will be able to leave any other remarks on the final page of the questionnaire.
            Please <e style="color: red">do not reload the page</e> you have completed. <br><br>


            Thank you very much in advance!


            <br><br> <div align="center"><a href="/enform"><input type="submit" class="button15" value="got it all"></a></div>
        </div>
    </div>
</div>
</body>
</html>
