<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script language="JavaScript">
        var currentLayer = 'page1';
        function showLayer(lyr){
            hideLayer(currentLayer);
            document.getElementById(lyr).style.visibility = 'visible';
            currentLayer = lyr;
        }

        function hideLayer(lyr){
            document.getElementById(lyr).style.visibility = 'hidden';
        }
    </script>
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="metaPB" align="center">
            <form>
                <div id="page1" class="pictureblock" style="visibility:visible;">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog01.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">1 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T011" name="T011" type="text" id="T011" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T012" name="T012" cols="45" rows="5" style="resize: vertical" id="T012"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page2')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page2" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog02.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">2 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T021" name="T021" type="text" id="T021" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T022" name="T022" cols="45" rows="5" style="resize: vertical" id="T022"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page3')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page3" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog06.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">3 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T061" name="T061" type="text" id="T061" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T062" name="T062" cols="45" rows="5" style="resize: vertical" id="T062"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page4')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page4" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog15.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">4 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T151" name="T151" type="text" id="T151" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T152" name="T152" cols="45" rows="5" style="resize: vertical" id="T152"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page5')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page5" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog11.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">5 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T111" name="T111" type="text" id="T111" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T112" name="T112" cols="45" rows="5" style="resize: vertical" id="T112"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page6')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page6" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog07.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">6 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T071" name="T071" type="text" id="T071" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T072" name="T072" cols="45" rows="5" style="resize: vertical" id="T072"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page7')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page7" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog16.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">7 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T161" name="T161" type="text" id="T161" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T162" name="T162" cols="45" rows="5" style="resize: vertical" id="T162"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page8')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page8" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog04.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">8 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T041" name="T041" type="text" id="T041" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T042" name="T042" cols="45" rows="5" style="resize: vertical" id="T042"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page9')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page9" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog14.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">9 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T141" name="T141" type="text" id="T141" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T142" name="T142" cols="45" rows="5" style="resize: vertical" id="T142"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page10')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page10" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog05.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">10 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T051" name="T051" type="text" id="T051" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T052" name="T052" cols="45" rows="5" style="resize: vertical" id="T052"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page11')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page11" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog13.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">11 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T131" name="T131" type="text" id="T131" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T132" name="T132" cols="45" rows="5" style="resize: vertical" id="T132"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page12')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page12" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog08.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">12 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T081" name="T081" type="text" id="T081" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T082" name="T082" cols="45" rows="5" style="resize: vertical" id="T082"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page13')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page13" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog09.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">13 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T091" name="T091" type="text" id="T091" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T092" name="T092" cols="45" rows="5" style="resize: vertical" id="T092"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page14')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page14" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog03.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">14 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T031" name="T031" type="text" id="T031" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T032" name="T032" cols="45" rows="5" style="resize: vertical" id="T032"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page15')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page15" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog12.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">15 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T121" name="T121" type="text" id="T121" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T122" name="T122" cols="45" rows="5" style="resize: vertical" id="T122"></textarea></div><p><div align="center"><input type="button" value="next" class="button15" onClick="showLayer('page16')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page16" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fog10.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">16 of 16</div><br><div align="left">How would you call this structure in your language?</div><div align="center"><input title="T101" name="T101" type="text" id="T101" size="30"></div><p><div align="justify">In case you have any comments about the word usage, word alternatives or any other thoughts about the object from the picture, please, write them all below. </div><br><div align="center"><textarea title="T102" name="T102" cols="45" rows="5" style="resize: vertical" id="T102"></textarea></div><p><div align="center"><input type="submit" class="button15" value="submit answers"/></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
