<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
  <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block" align="center">
        <div class="intro" align="justify">
            Hi, my name is Matthew Sokolovskiy. I am a student from Russia. I study Linguistics in Moscow university and you really help me filling this form.
            It doesn't take much time. This first block is to get necessary private information, which is collected confidentially.
            And then you'll just be asked to give names to structures, shown on pictures (only 16 pictures).
            <div align="center"></div>
        </div>
        <form name="user_info" class="formblock">
            <div align="left">
            sex:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input title="male" type="radio" required name="sex" value="male"> male<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input title="male" type="radio" required name="sex" value="female"> female<br><br>
            age:&nbsp;<input type="number" name="age" required placeholder="examle: 20">&nbsp;<br><br>
            your native country: &nbsp;<input type="text" name="land1" required placeholder="example: russia"><br><br>
            the country, where you live now: &nbsp;<input type="text" name="land2" required placeholder="example: germany"><br><br>
            your native language: &nbsp;<input type="text" name="language" required placeholder="example: russian"><br><br>
            other languages you speak: &nbsp;<input size="30" type="text" name="languages" placeholder="example: english, german"><br>
            <p>any comments about language knowledge or usage (not required):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<textarea name="langcomment" style="resize: vertical" cols="50" rows="3" placeholder="example: My father is from Germany and we spoke Russian and sometimes German at home. At school we learned English and Russian. Now I mostly speak german."></textarea>
            </p>
            email (not required, but the possibility of contact would be nice):<br> &nbsp;&nbsp;&nbsp;&nbsp;<input size="30" type="email" name="email" placeholder="example: matvey10@gmail.com"><br><br><div class="submit" align="center"><input type="submit" class="button15" value="далее"/></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
