<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body alink="green">
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">LINGUISTIC RESEARCH</div>
    <div class="block">
        <div class="langblock"align="center">
            <div class="leftflag">
                ВЫБЕРИТЕ УДОБНЫЙ ЯЗЫК<br><br>
                <a href="/ru">
                    <img class="flag" src="static/rus.png" alt="РУССКИЙ">
                </a>
            </div>
            <div class="rightflag">
                CHOOSE PREFERABLE LANGUAGE<br><br>
                <a href="/en">
                    <img class="flag" src="static/eng.png" alt="ENGLISH">
                </a>
            </div>
        </div>
        <div class="contactblock" align="justify">
            <div align="center">CONTACTS</div>
            Matvey Sokolovskiy<br>
            E-mail:&nbsp&nbsp<a href="mailto:matvey10@gmail.com?Subject=RESEARCH%20comment" target="_top">matvey10@gmail.com</a><br>
            Project repository:&nbsp<a href="https://github.com/sukalov/fogform">github.com/sukalov/fogform</a><br>
            <div align="center" class="subscript">
                The Higher School of Economics<br>
                School of Linguistics<br>
                Moscow<br>
                Russia<br>
                2018
            </div>
        </div>
    </div>
</div>
</body>
</html>