<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div>
    <div class="block" align="center">
        <div class="intro" align="center">
            <form>
                ПОЛЕ ДЛЯ ФИНАЛЬНЫХ КОММЕНТАРИЕВ<br>
                <div align="justify">Здесь можно добавить любые мысли об анкете или своих ответах.
                    Если Вы хотели бы получить результаты моего исследования (в виде курсовой работы на русском языке),
                    Вы также можете написать об этом здесь, но для этого потребуется Ваш email,
                    так что если Вы не указывали его вначале, пожалуйста, впишите его сюда.</div><br>
                <textarea title="finalcomment" name="finalcomment" cols="70" rows="10" style="resize: vertical" id="finalcomment"></textarea><br><br>
                <input type="submit" class="button15" value="завершить">
            </form>
        </div>
    </div>
</div>
</body>
</html>