<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div>
    <div class="block" align="center">
        <div class="introfin" align="justify">
            Огромное спасибо за помощь! Буду также очень признателен,
            если вы отправите этот опрос кому-нибудь, владеющему вашим языком
            Ведь чем больше данных, тем точнее и интереснее будет результат.<br>
            <e align="center">Всего доброго!</e><br><br>
            <a href="/"><div align="center"><input type="submit" class="button15" value="вернуться в начало"/></div></a>
        </div>
        <div class="contactblock" align="justify" style="margin-top: 240px">
            <div align="center">КОНТАКТЫ</div>
            Матвей Соколовский<br>
            E-mail:&nbsp&nbsp<a href="mailto:matvey10@gmail.com?Subject=RESEARCH%20comment" target="_top">matvey10@gmail.com</a><br>
            Репозиторий проекта:&nbsp<a href="https://github.com/sukalov/fogform">github.com/sukalov/fogform</a><br>
            <div align="center" class="subscript">
                Высшая Школа Экономики<br>
                Школа лингвистики<br>
                Москва<br>
                Россия<br>
                2018
            </div>
        </div>
    </div>
</div>
</body>
</html>