<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div>
    <div class="block" align="center">
        <div class="ins" align="justify">
            <div align="center" style=" color: red">ПОЖАЛУЙСТА, ПРОЧТИТЕ ИНСТРУКЦИЮ ДО КОНЦА</div><br>
            Вы увидите фотографии различных туманов и облаков. Рядом с каждой фотографией будут два поля для текста.
            Первое нужно заполнять обязательно. Туда надо писать <e style="color: red">только одно слово на своём родном языке</e>.
            Пожалуйста, постарайтесь представить ситуацию, когда вы показываете фотографию своему другу и говорите что-то вроде "Посмотри, какой красивый (/какое красивое/какая красивая)..!"
            Нужно слово, которое вы бы использовали в обычном разговоре. В первом поле не страшно писать <e style="color: red">одно и то же слово ко многим фотографиям</e>.<br><br> Второе поле для комментариев и оно заполняется на русском (или английском).
            Его заполнять не обязательно. Однако я прошу вас писать в комментарии как можно чаще. Там можно писать в целом всё, что угодно .
            Например, если если вам кажется, что вы бы назвали объект на фотографии двумя словами,
            в первом поле вы всё равно пишете одно слово, а в комментарии пишете второе и поясняете, почему двумя словами было бы лучше.
            Или же вы можете просто попытаться описать ситуацию (объект) к которой написанное вами слово подошло бы лучше всего.
            Если же вам кажется, что вы могли бы назвать объект на картинке двумя разными словами, то наиболее вероятное вы пишете в первом поле, а в комментарии пишете второе слово, которое вы могли бы употребить и то, чем на ваш взгляд эти два слова отличаются.
            В целом, любая дополнительная информация будет полезна. Чем точнее ваши ответы, тем точнее мои результаты. <br><br>
            Каждая фотография будет показана только один раз и вовращаться назад нельзя
            После фотографий останется одна страница для финальных комментариев
            Так что, если вы хотите вернуться к какой-либо фотографии <e style="color: red">не перегружайте страницы</e>.
            Все уточнения можно оставить в конце.<br><br> <div align="center"><a href="/ruform"><input type="submit" class="button15" value="всё ясно"></a></div>
        </div>
    </div>
</div>
</body>
</html>
