<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div>
    <div class="block" align="center">
        <div class="ins" align="justify">
            <div align="center" style=" color: red">ПОЖАЛУЙСТА, ПРОЧТИТЕ ИНСТРУКЦИЮ ДО КОНЦА</div><br>
            В ходе опроса Вы увидите фотографии различных туманов и облаков.
            Рядом с каждой фотографией будут два поля для текста.
            В первое поле Вам нужно будет вписать слово на своём родном языке,
            которым в повседневной речи можно назвать тот тип тумана/облаков, который Вы видите на фотографии.
            Для этого можно представить себе, например, ситуацию, когда вы показываете фотографию своему другу и одновременно комментируете её.
            Пожалуйста, вписывайте в первое поле <e style="color: red">только одно слово</e>.
            Вполне возможно, что <e style="color: red">одно и то же слово подойдет для разных фотографий</e>.<br><br>

            Второе поле предназначено для комментариев на русском (или английском).
            В некоторых случаях заполнять это поле не обязательно, но в следующих ситуациях его заполнение необходимо:
            <div style="margin-right: 30px">
                <ol>
                    <li>Решая, как заполнить первое поле, Вы колеблетесь между несколькими словами. В этом случае впишите, пожалуйста, одно из слов (то, которое Вам кажется более употребительным для этой ситуации) в первое поле, а остальные укажите в поле для комментариев и по возможности опишите, чем эти слова отличаются друг от друга.</li>
                    <li>Природное явление на фотографии в Вашем языке лучше описать не одним словом, а сочетанием из нескольких слов. В этом случае впишите, пожалуйста, одно основное слово в первое поле, а в комментариях укажите сочетание, которое лучше здесь употребить, и объясните, почему вариант из одного слова является неточным.</li>
                    <li>Природное явление на фотографии не описывается хорошо ни одним словом Вашего языка. В этом случае впишите, пожалуйста, в первое поле слово, которое лучше всего подходит по смыслу, а в поле комментариев постарайтесь описать то явление, которое обычно называется указанным Вами словом.</li>
                </ol>
            </div>

            В целом я был бы Вам очень благодарен, если бы Вы отмечали в комментариях не только подобные случаи,
            но и все наблюдения, которые касаются употребления указанных Вами слов.
            Ваши комментарии очень помогли бы моему исследованию!<br><br>

            Каждая фотография в ходе опроса будет показана только один раз,
            и возврат на предыдущую страницу не предусмотрен.
            Однако в конце опроса у Вас будет возможность высказать любые соображения на специальной странице для финальных комментариев.
            Поэтому, пожалуйста, <e style="color: red">не перегружайте страницы</e> – любые уточнения можно будет внести после просмотра всех фотографий.<br><br>

            Заранее большое спасибо за Ваше участие!
            <br><br> <div align="center"><a href="/ruform"><input type="submit" class="button15" value="всё ясно"></a></div>
        </div>
    </div>
</div>
</body>
</html>
