<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div>
    <div class="block" align="center">
        <div class="intro" align="justify">
            Здравствуйте, меня зовут Матвей Соколовский. Я студент из Москвы. Пройдя этот опрос вы очень поможете мне, в моём исследовании.
            Прохождение не займёт много времени. В первом разделе абсолютно конфиденциално собирается необходимая личная информация.
            А затем вам будут показаны фотографии, и надо будет назвать изображённые понятия на своём языке (изображений всего 20).
            <div align="center"></div>
        </div>
        <div align="left">
        <form name="user_info" class="formblock">
            пол:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input title="female" type="radio" name="sex" value="male" required > мужской<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<input title="female" type="radio" name="sex" value="female" required> женский<br><br>
            возраст:&nbsp;<input type="number" name="age" required placeholder="пример: 20">&nbsp;<br><br>
            родная страна: &nbsp;<input type="text" name="land1" required placeholder="пример: россия"><br><br>
            страна проживания: &nbsp;<input type="text" name="land2" required placeholder="пример: германия"><br><br>
            родной язык: &nbsp;<input type="text" name="language" required placeholder="пример: русский"><br><br>
            другие языки, на которых вы говорите: &nbsp;<input type="text" name="languages" placeholder="пример: немецкий, английский"><br>
            <p>комментарии к владению и употреблению языка(языков):<br>
                &nbsp;&nbsp;&nbsp;&nbsp;<textarea name="langcomment" cols="50" rows="3" placeholder="пример: Мой отец из герамнии и дома мы говорили на русском и иногда на немецком. В школе я учил английский. Сейчас я по большей части говорю на немецком."></textarea>
            </p>
            email (не обязательно, но в некоторых случаях может понадобиться уточнить какой-либо ответ): &nbsp;<input type="email" name="email" placeholder="пример: matvey10@gmail.com"><br><br>
            <div class="submit" align="center"><input type="submit" class="button15" value="далее"/></div>
        </form>
        </div>
    </div>
</div>
</body>
</html>