<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script language="JavaScript">
        var currentLayer = 'page1';
        function showLayer(lyr){
            hideLayer(currentLayer);
            document.getElementById(lyr).style.visibility = 'visible';
            currentLayer = lyr;
        }

        function hideLayer(lyr){
            document.getElementById(lyr).style.visibility = 'hidden';
        }
    </script>
</head>
<body>
<div class="back" align="center"></div>
<div class="parent" align="center">
    <div class="title" align="center">ЛИНГВИСТИЧЕСКОЕ ИССЛЕДОВАНИЕ</div><br>
    <div align="center" style="font-size: 22px; color: red">Просьба не использовать клавишу ENTER в ходе опроса!<br>Она автоматически завершит прохождение на полпути.<br> Для перехода к следующей фотографии пользуйтесь кнопкой <a style="font-size: larger;">далее</a></div>
    <div class="block" align="center">
        <div class="metaPB" align="center">
            <form>
                <div id="page1" class="pictureblock" style="visibility:visible;">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN1N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">1 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN1N1" name="TN1N1" type="text" id="TN1N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN1N2" name="TN1N2" cols="45" rows="5" style="resize: vertical" id="TN1N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page2')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page2" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN2N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">2 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN2N1" name="TN2N1" type="text" id="TN2N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN2N2" name="TN2N2" cols="45" rows="5" style="resize: vertical" id="TN2N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page3')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page3" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN3N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">3 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN3N1" name="TN3N1" type="text" id="TN3N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN3N2" name="TN3N2" cols="45" rows="5" style="resize: vertical" id="TN3N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page4')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page4" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN4N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">4 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN4N1" name="TN4N1" type="text" id="TN4N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN4N2" name="TN4N2" cols="45" rows="5" style="resize: vertical" id="TN4N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page5')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page5" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN5N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">5 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN5N1" name="TN5N1" type="text" id="TN5N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN5N2" name="TN5N2" cols="45" rows="5" style="resize: vertical" id="TN5N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page6')"></div></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page6" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN6N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">6 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN6N1" name="TN6N1" type="text" id="TN6N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN6N2" name="TN6N2" cols="45" rows="5" style="resize: vertical" id="TN6N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page7')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page7" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN7N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">7 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN7N1" name="TN7N1" type="text" id="TN7N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN7N2" name="TN7N2" cols="45" rows="5" style="resize: vertical" id="TN7N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page8')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page8" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN8N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">8 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN8N1" name="TN8N1" type="text" id="TN8N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN8N2" name="TN8N2" cols="45" rows="5" style="resize: vertical" id="TN8N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page9')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page9" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN9N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">9 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN9N1" name="TN9N1" type="text" id="TN9N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN9N2" name="TN9N2" cols="45" rows="5" style="resize: vertical" id="TN9N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page10')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page10" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN10N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">10 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN10N1" name="TN10N1" type="text" id="TN10N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN10N2" name="TN10N2" cols="45" rows="5" style="resize: vertical" id="TN10N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page11')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page11" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN11N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">11 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN11N1" name="TN11N1" type="text" id="TN11N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN11N2" name="TN11N2" cols="45" rows="5" style="resize: vertical" id="TN11N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page12')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page12" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN12N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">12 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN12N1" name="TN12N1" type="text" id="TN12N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN12N2" name="TN12N2" cols="45" rows="5" style="resize: vertical" id="TN12N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page13')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page13" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN13N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">13 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN13N1" name="TN13N1" type="text" id="TN13N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN13N2" name="TN13N2" cols="45" rows="5" style="resize: vertical" id="TN13N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page14')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page14" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN14N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">14 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN14N1" name="TN14N1" type="text" id="TN14N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN14N2" name="TN14N2" cols="45" rows="5" style="resize: vertical" id="TN14N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page15')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page15" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN15N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">15 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN15N1" name="TN15N1" type="text" id="TN15N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN15N2" name="TN15N2" cols="45" rows="5" style="resize: vertical" id="TN15N2"></textarea></div><p><div align="center"><input type="button" value="далее" class="button15" onClick="showLayer('page16')"></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
                <div id="page16" class="pictureblock">
                    <table>
                        <tr>
                            <td><img class="fog" src="static/fogs/fogN16N.jpg"></td><td><div class="picquestions"><p><div align="center" style="font-size: 12pt; color: rgb(100, 100, 100)">16 из 16</div><br><div align="left">Как вы назовёте изображённое на фотографии природное явление на своём языке?</div><div align="center"><input title="TN16N1" name="TN16N1" type="text" id="TN16N1" size="30"></div><p><div align="justify">Если у Вас есть какие-либо комментарии по поводу употребления слова, альтернативные слова или просто идеи относительно фотографии, пожалуйста, напишите всё здесь. </div><br><div align="center"><textarea title="TN16N2" name="TN16N2" cols="45" rows="5" style="resize: vertical" id="TN16N2"></textarea></div><p><div align="center"><input type="submit" class="button15" value="к финальному комментарию"/></p></div>
                        </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>